* {
    box-sizing: border-box;
}

body {
    font-family: "Cera Pro Regular";
}

a {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    overflow: hidden;
}

/* header */

header {
    width: 100vw;
    height: 31.5rem;

    padding: 1rem 0;

    background: #fff;
}

.conteiner {
    max-width: 90rem;
    margin: 0 auto;
}

.header__conteiner {
    height: 4.5rem;

    margin: 0 1.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 9.19rem;
    height: 4.5rem;
}

header ul {
    width: 29.5rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    font-size: 1.12rem;
    line-height: 144%;
    color: #000;
}

.list__link-one {
    width: 7.19rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    gap: 4px
}

.list__link-two {
    width: 4.94rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    gap: 4px;
}

header li span {
    display: flex;
    align-items: center;
    margin-bottom: -0.15rem;
}

.header__contact {
    width: 29.06rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact__phone {
    width: 15.19rem;
    height: 2rem;

    display: flex;
    align-items: center;
    gap: 12px;
}

.phone-call {
    font-family: "Cera Pro Madium";
    font-size: 1.5rem;
    line-height: 133%;
    color: #000;
}

.contact__email {
    width: 11.38rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    gap: 12px;
    
}

.email-send {
    font-family: "Cera Pro Regular";
    font-size: 1.12rem;
    line-height: 144%;
    color: #000;
}

/* link */

.link {
    width: 100vw;

    padding: 1.5rem 0;
}

.link__conteiner {
    max-width: 90rem;
    height: 4.25rem;
    /* margin: 0 auto; */
    padding: 0 1.25rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.link a {
    font-size: 0.88rem;
    line-height: 143%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

.link a:nth-child(5) {
    font-size: 0.88rem;
    line-height: 143%;
    color: #fff;
    text-decoration: none;
}

.link__dot {
    width: 0.25rem;
    height: 0.25rem;

    background: #fff;
}

/* link ended */

.header__content {
    width: 100vw;
    margin-top: 1.25rem;
    height: 25rem;

    background-image: url('../photo/asphaltbg.png');
}

.content__block {
    width: 59.56rem;
    height: 12.5rem;
    margin: 0 1.25rem;

    padding: 2.5rem 0rem 0rem 0rem;
}

.content-title {
    width: 90rem;
    height: 6rem;

    padding: 0rem 0rem 1.5rem 0rem;

    font-family: "Cera Pro Bold";
    font-size: 3.75rem;
    line-height: 120%;
    color: #fff;
}

.content-text {
    font-size: 1.5rem;
    line-height: 133%;
    color: #fff;
}

/* header ended */

/* section */

section {
    width: 100vw;
    height: 46.88rem;

    padding: 6.25rem 1.25rem;
}

.section__flex {
    display: flex;
    gap: 5rem;

    padding: 0 1.25rem;
}

.one  {
    width: 45rem;
    height: 34.12rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section p {
    font-size: 1.12rem;
    line-height: 144%;
    color: #333;
}

.content__list {
    width: 45rem;
    height: 14.38rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.content__item {
    width: 45rem;
    height: 3.25rem;

    display: flex;
    gap: 1rem;
}

.item__svg {
    width: 3rem;
    height: 3rem;
}

.item-text {
    font-family: "Cera Pro Medium";
    font-size: 1.12rem;
    line-height: 144%;
    color: #333;
}

.two {
    width: 37.5rem;
    height: 34.38rem;

    background-image: url('../photo/asphalt.png');
}

/* section ended */

/* main */

main {
    width: 120rem;
    height: 75rem;

    padding: 6.25rem 0;
    background-color: #f5f5f5;
}

.padding {
    padding: 0 1.25rem;
}

.subtitle {
    width: 7.75rem;
    height: 2.5rem;

    padding: 0rem 0rem 1rem 0rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.subtitle__square {
    width: 0.5rem;
    height: 0.5rem;

    background: #f3262d;
}

main h3 {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #999;
}

main h1 {
    width: 87.5rem;
    height: 9.5rem;

    padding: 0rem 0rem 2.5rem 0rem;

    font-family: "Cera Pro Bold";
    font-size: 3rem;
    line-height: 117%;
    color: #000;
}

main ul {
    width: 87.5rem;
    height: 44rem;

    border-radius: 0.5rem;
}

main li {
    width: 87.5rem;
    height: 4rem;

    padding: 0rem 1.5rem;
    border-bottom: 1px solid #e6e6e6;
    background: #fff;
}

main li:nth-child(1) {
    background: #646464;

    font-family: "Cera Pro Bold";
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}

.item__conteiner {
    width: 84.5rem;
    height: 4rem;

    display: flex;
    align-items: center;
    gap: 1.88rem;
}

main p:nth-child(1) {
    width: 40.75rem;
    height: 4rem;
}

main p:nth-child(2) {
    width: 17.5rem;
    height: 4rem;
}

main p:nth-child(3) {
    width: 10rem;
    height: 4rem;
}

main p:nth-child(4) {
    width: 10.62rem;
    height: 1.5rem;

    display: flex;
    justify-content: flex-end;
}

main p:nth-child(1),
main p:nth-child(2),
main p:nth-child(3) {
    display: flex;
    align-items: center;
}

.item-one,
.item-two,
.item-three,
.item-four {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #333;
}

.main__text {
    width: 87.5rem;
    height: 6.5rem;

    padding: 1.5rem 0rem 0rem 0rem;
}

.main-text {
    font-size: 0.88rem;
    line-height: 143%;
    color: #666;
}

/* main ended */

/* delivery */

.delivery {
    width: 100vw;
    height: 46.88rem;
    overflow: hidden;

    padding: 6.25rem 0;
}

.delivery__block {
    width: 87.5rem;
    height: 34.38rem;

    display: flex;
    gap: 3.75rem;
}

.delivery__one {
    width: 41.25rem;
    height: 34.38rem;

    background-image: url('../photo/deliveryOneBg.png');
}

.delivery__content {
    width: 42.5rem;
    height: 34.38rem;
}

.delivery__subtitle {
    width: 11.81rem;
    height: 2.5rem;

    padding: 0rem 0rem 1rem 0rem;
    display: flex;
    align-items: center;
    gap: 1rem ;
}

.subtitle__square {
    width: 0.5rem;
    height: 0.5rem;

    background: #f3262d;
}

.delivery-subtitle {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #999;
}

.delivery__text {
    width: 42.5rem;
    height: 10.38rem;
}

.delivery-title {
    width: 42.5rem;
    height: 8rem;

    padding: 0rem 0rem 1rem 0rem;

    font-family: "Cera Pro Bold";
    font-size: 3rem;
    line-height: 117%;
    color: #000;
}

.delivery__line {
    width: 2.5rem;
    height: 0rem;

    border: 1.50px solid #f3262d;
}

.delivery-text {
    padding: 1.5rem 0rem 0rem 0rem;

    font-size: 1.12rem;
    line-height: 144%;
    color: #333;
}

.text-gap {
    margin-top: 26px;
}

.delivery__list {
    width: 42.5rem;
    height: 13.5rem;

    padding: 1.5rem 0rem 0rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delivery__item {
    width: 42.5rem;
    height: 3rem;

    display: flex;
    gap: 1rem;
}

.delivery__item-text {
    font-family: "Cera Pro Medium";
    font-size: 1.12rem;
    line-height: 144%;
    color: #333;
}


/* delivery ended */

/* galary */

.galary {
    width: 100vw;
    height: 42rem;

    padding: 6.25rem 0;

    background-image: url('../photo/background.png');
}

.galary__subtitle {
    width: 10.94rem;
    height: 2.5rem;

    padding: 0rem 0rem 1rem 0rem;
}

.galary__square {
    width: 0.5rem;
    height: 0.5rem;

    background: #f3262d;
}

.galary-subtitle {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #999;
}

.galary-title {
    width: 87.5rem;
    height: 6rem;

    padding: 0rem 0rem 2.5rem 0rem;

    font-family: "Cera Pro Bold";
    font-size: 3rem;
    line-height: 117%;
    color: #000;
}

.galary__flex {
    width: 99.5rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow__right,
.arrow__left {
    width: 3.5rem;
    height: 3.5rem;

    border-radius: 4.12rem;
    padding: 1rem;

    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .arrow__left {
    margin-left: -6rem;
}

.arrow__right {
    margin-right: -2.5rem;
} */

.galary__photo {
    width: 90rem;
    height: 18.75rem;

    display: flex;
    justify-content: space-between;

}

.photo__one,
.photo__two,
.photo__three {
    width: 27.5rem;
    height: 18.75rem;
}

.photo__one {
    background-image: url('../photo/garalyOne.png');
}

.photo__two {
    background-image: url('../photo/galaryTwo.png');
}

.photo__three {
    background-image: url('../photo/galaryThree.png');
}

.galaxy__slider {
    width: 87.5rem;
    height: 2.25rem;

    padding: 2rem 0rem 0rem 0rem;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 1rem;
}

.slider__one,
.slider__two,
.slider__three {
    width: 1.5rem;
    height: 0.25rem;

    border-radius: 2.81rem;
}

.slider__one,
.slider__three {
    background: #d9d9d9;
}

.slider__two {
    background: #f3262d;
}

/* galary ended */


/* footer */

footer {
    width: 100vw;
    height: 36.5rem;

    background-image: url('../photo/bgfooter.png');
}

.footer__conteiner {
    height: 26.50rem;

    padding: 6.25rem 1.25rem 2.5rem 1.25rem;

    display: flex;  
}

.footer__block-one {
    width: 42.5rem;
    height: 17.75rem;

    margin-right: 2.5rem;
}

.footer__block-two {
    width: 20rem;
    height: 17.25rem;

    margin-right: 4.4rem;
}

.footer__block-title {
    width: 15.5rem;
    height: 3.25rem;

    padding: 0rem 0rem 1rem 0rem;

    font-family: "Cera Pro Regular";
    font-size: 1.88rem;
    line-height: 120%;
    color: #fff;
}

.footer__line  {
    width: 2.5rem;
    height: 0rem;

    border: 1.50px solid #f3262d;
}

.footer__block-text {
    width: 18.06rem;
    height: 5.5rem;

    padding: 1.5rem 0rem 1rem 0rem;

    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}

.footer__list-one {
    width: 14.94rem;
    height: 7rem;

    padding: 0rem 0rem 1rem 0rem;
}

.footer__item {
    width: 14.94rem;
    height: 2rem;

    font-family: "Cera Pro Light";
    font-size: 1.5rem;
    line-height: 133%;
    color: #fff;
}

.footer__email {
    width: 14.38rem;
    height: 2rem;

    font-family: "Cera Pro Light";
    font-size: 1.5rem;
    line-height: 133%;
    color: #fff;
}

.footer__list-two {
    width: 13.25rem;
    height: 14rem;

   padding: 1.5rem 0rem 1rem 0rem;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.footer__item-two {
    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}

.footer__block-subtitle {
    width: 16.94rem;
    height: 3.75rem;

    padding: 0rem 0rem 1.5rem 0rem;

    font-family: "Cera Pro Regular";
    font-size: 1.88rem;
    line-height: 120%;
    color: #fff;
}

.footer__conteiner-last {
    height: 3.75rem;

    margin: 0 1.25rem 0 1.25rem;
    padding: 2.5rem 0rem 0rem 0rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    display: flex;
    justify-content: space-between;
}

.footer-ooo,
.footer-politic {
    font-family: "Cera Pro Regular";
    font-size: 0.88rem;
    line-height: 143%;
    color: #999;
}

/* footer ended */