* {
    box-sizing: border-box;
}

body {
    font-family: "Cera Pro Regular";
}

a {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    overflow: hidden;
}

/* header */

header {
    width: 100vw;
    height: 31.5rem;

    padding: 1rem 0;

    background: #fff;
}

.conteiner {
    max-width: 90rem;
    margin: 0 auto;
}

.header__conteiner {
    height: 4.5rem;

    margin: 0 1.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 9.19rem;
    height: 4.5rem;
}

.header__list {
    width: 29.5rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    font-size: 1.12rem;
    line-height: 144%;
    color: #000;
}

.list__link-one {
    width: 7.19rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    gap: 4px
}

.list__link-two {
    width: 4.94rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    gap: 4px;
}

header li span {
    display: flex;
    align-items: center;
    margin-bottom: -0.15rem;
}

.header__contact {
    width: 29.06rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact__phone {
    width: 15.19rem;
    height: 2rem;

    display: flex;
    align-items: center;
    gap: 12px;
}

.phone-call {
    font-family: "Cera Pro Madium";
    font-size: 1.5rem;
    line-height: 133%;
    color: #000;
}

.contact__email {
    width: 11.38rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    gap: 12px;
    
}

.email-send {
    font-family: "Cera Pro Regular";
    font-size: 1.12rem;
    line-height: 144%;
    color: #000;
}

/* link */

.link {
    width: 100vw;

    padding: 1.5rem 0;
}

.link__conteiner {
    max-width: 90rem;
    height: 4.25rem;

    /* margin: 0 auto; */

    padding: 0 1.25rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.link a {
    font-size: 0.88rem;
    line-height: 143%;
    text-decoration: underline;
    text-decoration-skip-ink: none;

    color: #fff;

}

.link a:nth-child(5) {
    font-size: 0.88rem;
    line-height: 143%;
    color: #fff;

    text-decoration: none;
}

.link__dot {
    width: 0.25rem;
    height: 0.25rem;

    background: #fff;

}

/* link ended */

.header__box {
    width: 100vw;
    margin-top: 1.25rem;
    height: 25rem;

    background-image: url('../photo/fixbg.png');
}

.content__block {
    width: 59.56rem;
    height: 12.5rem;
    margin: 0 1.25rem;

}

.content-title {
    width: 59.56rem;
    height: 6rem;


    font-family: "Cera Pro Bold";
    font-size: 3.75rem;
    line-height: 120%;
    color: #fff;
}

.content-text {
    font-size: 1.5rem;
    line-height: 133%;
    color: #fff;
}

/* header ended */

/* Section */

section {
    width: 100vw;
    height: 44.12rem;

    padding: 6.25rem 16.25rem;
}

.section__flex {
    display: flex;
    position: relative;
}

.section__content {
    width: 45rem;
    height: 28.12rem;

    margin-right: 5rem;
}

.section__list {
    width: 45rem;
    height: 20rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 2rem 0;
}

.list__item {
    list-style-type: square;
    color: #f3262d;
}

ul li span {
    font-family: "Cera Pro Regular";
    font-size: 1.12rem;
    line-height: 144%;
    color: #333;
}

.list__item:nth-child(1) {
    width: 45rem;
    height: 3.25rem;
}

.list__item:nth-child(2) {
    width: 45rem;
    height: 3.25rem;
}

.list__item:nth-child(3) {
    width: 45rem;
    height: 1.62rem;
}

.list__item:nth-child(4) {
    width: 45rem;
    height: 1.62rem;
}

.list__item:nth-child(5) {
    width: 45rem;
    height: 3.25rem;
}

.section-text {
    font-family: "Cera Pro Regular";
    font-size: 1.12rem;
    line-height: 144%;
    color: #333;
}

/* Section ended */

/* Work */

.work {
    width: 100vw;
    height: 39.5rem;

    padding: 6.25rem 0;
    background-image: url('../photo/bgone.png');
}

.work__pedding {
    margin-right: -1.25rem;
    margin-left: 1.25rem;
}

.work__subtitle {
    width: 14.31rem;
    height: 2.5rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    padding: 0rem 0rem 1rem 0rem;
}

.work__square {
    width: 0.5rem;
    height: 0.5rem;

    background-color: #f3262d;
}

.work-subtitle {
    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #999;
}

.work-title {
    height: 6rem;

    padding: 0rem 0rem 2.5rem 0rem;

    font-family: "Cera Pro Bold";
    font-size: 3rem;
    line-height: 117%;
    color: #000;
}

.work__block {
    height: 18.5rem;

    display: flex;
    justify-content: space-between;
}

.work__block-one,
.work__block-two,
.work__block-three,
.work__block-four,
.work__block-five {
    width: 16.31rem;
    height: 18.5rem;

    border-radius: 0.5rem;
    background-color: #fff;
}

.block__work-svg {
    width: 5rem;
    height: 5rem;

    margin: 2.5rem 5.65rem;
    margin-bottom: 0;
}

.work__block-content {
    width: 13.31rem;
    height: 7rem;

    margin: 1.5rem 1.5rem 2.5rem 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.work__block-title {
    font-family: "Cera Pro Medium";
    font-size: 1.5rem;
    line-height: 133%;
    text-align: center;
    color: #000;
}

.work__block-line {
    border: 1.50px solid #f3262d;
    width: 2.5rem;
    height: 0rem;
}

.work__block-text {
    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    color: #333;
}

/* Work ended */

/* How */

.how {
    width: 120rem;
    height: 47.5rem;

    padding: 6.25rem 16.25rem;
}

.how__subtitle {
    width: 14.5rem;
    height: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 0rem 0rem 1rem 0rem;
}

.how__square {
    width: 0.5rem;
    height: 0.5rem;

    background: #f3262d;
}

.how-subtitle {
    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #999;
}

.how-title {
    width: 87.5rem;
    height: 7rem;

    padding: 0rem 0rem 3.5rem 0rem;

    font-family: "Cera Pro Bold";
    font-size: 3rem;
    line-height: 117%;
    color: #000;
}

.how__block {
    width: 87.5rem;
    height: 25.5rem;

    display: flex;
    gap: 2.5rem;

    position: relative;
}

.how__image {
    width: 75.38rem;
    height: 2rem;

    margin-bottom: -5.8rem;
}

.block__one,
.block__two,
.block__three,
.block__four,
.block__five {
    width: 15.5rem;
    height: 25.5rem;
}

.number {
    width: 5rem;
    height: 8rem;
    background-color: #fff;

    font-family: "Cera Pro Regular";
    font-size: 8rem;
    line-height: 100%;
    color: #000;
}

.one__content,
.three__content,
.five__content {
    width: 15.5rem;
    height: 10.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.two__content {
    width: 15.5rem;
    height: 16.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.four__content {
    width: 15.5rem;
    height: 13.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.block-title {
    font-family: "Cera Pro Medium";
    font-size: 1.5rem;
    line-height: 133%;
    color: #000;
}

.redline {
    width: 2.5rem;
    height: 0rem;

    border: 1.50px solid #f3262d;
}

.how-text {
    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    color: #333;
}

/* How ended */

/* footer */

footer {
    width: 100vw;
    height: 36.5rem;

    background-image: url('../photo/bgfooter.png');
}

.footer__conteiner {
    height: 26.50rem;

    padding: 6.25rem 1.25rem 2.5rem 1.25rem;

    display: flex;  
}

.footer__block-one {
    width: 42.5rem;
    height: 17.75rem;

    margin-right: 2.5rem;
}

.footer__block-two {
    width: 20rem;
    height: 17.25rem;

    margin-right: 4.4rem;
}

.footer__block-title {
    width: 15.5rem;
    height: 3.25rem;

    padding: 0rem 0rem 1rem 0rem;

    font-family: "Cera Pro Regular";
    font-size: 1.88rem;
    line-height: 120%;
    color: #fff;
}

.footer__line  {
    width: 2.5rem;
    height: 0rem;

    border: 1.50px solid #f3262d;
}

.footer__block-text {
    width: 18.06rem;
    height: 5.5rem;

    padding: 1.5rem 0rem 1rem 0rem;

    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}

.footer__list-one {
    width: 14.94rem;
    height: 7rem;

    padding: 0rem 0rem 1rem 0rem;
}

.footer__item {
    width: 14.94rem;
    height: 2rem;

    font-family: "Cera Pro Light";
    font-size: 1.5rem;
    line-height: 133%;
    color: #fff;
}

.footer__email {
    width: 14.38rem;
    height: 2rem;

    font-family: "Cera Pro Light";
    font-size: 1.5rem;
    line-height: 133%;
    color: #fff;
}

.footer__list-two {
    width: 13.25rem;
    height: 14rem;

   padding: 1.5rem 0rem 1rem 0rem;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.footer__item-two {
    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}

.footer__block-subtitle {
    width: 16.94rem;
    height: 3.75rem;

    padding: 0rem 0rem 1.5rem 0rem;

    font-family: "Cera Pro Regular";
    font-size: 1.88rem;
    line-height: 120%;
    color: #fff;
}

.footer__conteiner-last {
    height: 3.75rem;

    margin: 0 1.25rem 0 1.25rem;
    padding: 2.5rem 0rem 0rem 0rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    display: flex;
    justify-content: space-between;
}

.footer-ooo,
.footer-politic {
    font-family: "Cera Pro Regular";
    font-size: 0.88rem;
    line-height: 143%;
    color: #999;
}

/* footer ended */