* {
    box-sizing: border-box;
}

body {
    font-family: "Cera Pro Regular";
}

a {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    overflow: hidden;
}

/* header */

header {
    width: 100vw;
    height: 31.5rem;

    padding: 1rem 0;

    background: #fff;
}

.conteiner {
    max-width: 90rem;
    margin: 0 auto;
}

.header__conteiner {
    height: 4.5rem;

    margin: 0 1.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 9.19rem;
    height: 4.5rem;
}

header ul {
    width: 29.5rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    font-size: 1.12rem;
    line-height: 144%;
    color: #000;
}

.list__link-one {
    width: 7.19rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    gap: 4px
}

.list__link-two {
    width: 4.94rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    gap: 4px;
}

header li span {
    display: flex;
    align-items: center;
    margin-bottom: -0.15rem;
}

.header__contact {
    width: 29.06rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact__phone {
    width: 15.19rem;
    height: 2rem;

    display: flex;
    align-items: center;
    gap: 12px;
}

.phone-call {
    font-family: "Cera Pro Madium";
    font-size: 1.5rem;
    line-height: 133%;
    color: #000;
}

.contact__email {
    width: 11.38rem;
    height: 1.62rem;

    display: flex;
    align-items: center;
    gap: 12px;
    
}

.email-send {
    font-family: "Cera Pro Regular";
    font-size: 1.12rem;
    line-height: 144%;
    color: #000;
}

/* link */

.link {
    width: 100vw;

    padding: 1.5rem 0;
}

.link__conteiner {
    max-width: 90rem;
    height: 4.25rem;

    /* margin: 0 auto; */

    padding: 0 1.25rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.link a {
    font-size: 0.88rem;
    line-height: 143%;
    text-decoration: underline;
    text-decoration-skip-ink: none;

    color: #fff;

}

.link a:nth-child(5) {
    font-size: 0.88rem;
    line-height: 143%;
    color: #fff;

    text-decoration: none;
}

.link__dot {
    width: 0.25rem;
    height: 0.25rem;

    background: #fff;

}

/* link ended */

.header__box {
    width: 100vw;
    margin-top: 1.25rem;
    height: 25rem;

    background-image: url('../photo/rentbg.png');
}

.content__block {
    max-width: 87.5rem;
    height: 14.5rem;
    margin: 0 1.25rem;

    padding: 2.5rem 0rem 0rem 0rem;
}

.content-title {
    max-width: 87.5rem;
    height: 6rem;

    padding: 0rem 0rem 1.5rem 0rem;

    font-family: "Cera Pro Bold";
    font-size: 3.75rem;
    line-height: 120%;
    color: #fff;
}

.content-text {
    font-size: 1.5rem;
    line-height: 133%;
    color: #fff;
}

.rent__logo {
    width: 18.75rem;
    height: 10rem;


    border-radius: 0.5rem;
    margin-left: 68.75rem;
    margin-top: -11rem;
    background-image: url('../icon/rentlogo.png');
}

/* header ended */

/* section */

section {
    width: 100vw;
    height: 46.88rem;

    padding: 6.25rem 1.25rem;
}

.section__flex {
    display: flex;
    gap: 5rem;


    padding: 0 1.25rem;
}

.one  {
    width: 45rem;
    height: 33.12rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section p {
    font-size: 1.12rem;
    line-height: 144%;
    color: #333;
}

.two {
    position: absolute;
    width: 41.25rem;
    height: 33.12rem;

    margin-left: 50rem;
    background-image: url('../photo/rentphoto.png');
}

/* section ended */


/* Catalog */

.catalog {
    width: 100vw;
    height: 223.5rem;
    padding: 6.25rem 16.25rem;
    background: #f4f2f2;
}

.subtitle {
    width: 6rem;
    height: 2.5rem;

    padding: 0rem 0rem 1rem 0rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.catalog__square {
    width: 0.5rem;
    height: 0.5rem;

    background: #f3262d;
}

.catalog-text {
    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #999;
}

.catalog-title {
    max-width: 87.5rem;
    height: 6rem;

    padding: 0rem 0rem 2.5rem 0rem;

    font-family: "Cera Pro Bold";
    font-size: 3rem;
    line-height: 117%;
    color: #000;
}

.catalog__grid {
    width: 87.5rem;
    height: 201.5rem;

    display: grid;
    grid-template-columns: repeat(4, 20.75rem);
    grid-template-rows: repeat(8, 23.88rem);
    gap: 1.5rem;
}

.catalog__cars {
    border: 1px solid #f0f0f0;
    border-radius: 0.5rem;
    background-color: #fff;
}

.catalog__cars:nth-child(31),
.catalog__cars:nth-child(32) {
    display: none;
}

.red__corner {
    width: 3.25rem;
    height: 2.25rem;

    padding: 0.5rem 0.75rem;
    background: #f3262d;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    border-top-right-radius: 0.5rem;
    position: absolute;
    z-index: 1;
    margin-left: 17.5rem;
}

.corner-text {
    font-family: "Cera Pro Regular";
    font-size: 0.88rem;
    line-height: 143%;
    color: #fff;

    display: flex;
}

.cars__photo {
    position: relative;
    width: 20.75rem;
    height: 13.12rem;
}

.cars__two {
    width: 20.75rem;
    height: 10.75rem;

    padding: 1.5rem 2rem;
}

.cars-title {
    width: 16.75rem;
    height: 4.5rem;

    padding: 0rem 0rem 1rem 0rem;

    font-family: "Cera Pro Bold";
    font-size: 1.25rem;
    line-height: 140%;
    color: #333;
}

.cars__line {
    width: 2.5rem;
    height: 0rem;

    border: 1.50px solid #f3262d;

}

.cars-price {
    width: 6.19rem;
    height: 1.5rem;

    padding-top: 1.75rem;
}

/* Catalog ended */

/* footer */

footer {
    width: 100vw;
    height: 36.5rem;

    background-image: url('../photo/bgfooter.png');
}

.footer__conteiner {
    height: 26.50rem;

    padding: 6.25rem 1.25rem 2.5rem 1.25rem;

    display: flex;  
}

.footer__block-one {
    width: 42.5rem;
    height: 17.75rem;

    margin-right: 2.5rem;
}

.footer__block-two {
    width: 20rem;
    height: 17.25rem;

    margin-right: 4.4rem;
}

.footer__block-title {
    width: 15.5rem;
    height: 3.25rem;

    padding: 0rem 0rem 1rem 0rem;

    font-family: "Cera Pro Regular";
    font-size: 1.88rem;
    line-height: 120%;
    color: #fff;
}

.footer__line  {
    width: 2.5rem;
    height: 0rem;

    border: 1.50px solid #f3262d;
}

.footer__block-text {
    width: 18.06rem;
    height: 5.5rem;

    padding: 1.5rem 0rem 1rem 0rem;

    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}

.footer__list-one {
    width: 14.94rem;
    height: 7rem;

    padding: 0rem 0rem 1rem 0rem;
}

.footer__item {
    width: 14.94rem;
    height: 2rem;

    font-family: "Cera Pro Light";
    font-size: 1.5rem;
    line-height: 133%;
    color: #fff;
}

.footer__email {
    width: 14.38rem;
    height: 2rem;

    font-family: "Cera Pro Light";
    font-size: 1.5rem;
    line-height: 133%;
    color: #fff;
}

.footer__list-two {
    width: 13.25rem;
    height: 14rem;

   padding: 1.5rem 0rem 1rem 0rem;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.footer__item-two {
    font-family: "Cera Pro Regular";
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}

.footer__block-subtitle {
    width: 16.94rem;
    height: 3.75rem;

    padding: 0rem 0rem 1.5rem 0rem;

    font-family: "Cera Pro Regular";
    font-size: 1.88rem;
    line-height: 120%;
    color: #fff;
}

.footer__conteiner-last {
    height: 3.75rem;

    margin: 0 1.25rem 0 1.25rem;
    padding: 2.5rem 0rem 0rem 0rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    display: flex;
    justify-content: space-between;
}

.footer-ooo,
.footer-politic {
    font-family: "Cera Pro Regular";
    font-size: 0.88rem;
    line-height: 143%;
    color: #999;
}

/* footer ended */

